annotated-types
anyio
certifi
charset-normalizer
click
dnspython
exceptiongroup
fastapi[standard]
h11
idna
importlib-metadata
numpy
pandas
pydantic
pydantic_core
pymongo
python-dateutil
python-dotenv
pytz
requests
scipy
six
sniffio
starlette
typing_extensions
urllib3
uvicorn
xgboost
zipp
